.ac-name{
    display: flex;
    justify-content: space-between;
    background: #f0f1f2;
    color: #776c6e;
    padding: 0 10px;
    font-size: 12px;
    line-height: 3.5;
    position: relative;
    div{
        .n{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .z{
            color: #cf1313;
        }
        .k{
            color: #2c1c91;
        }
    }
}