*{
  margin:0;
  padding:0;
}
html{
  font-size: 100px;
}
body{
  font-size: 14px;
  font-weight: 400;
  color: #000;
  user-select: none;
}
a{
  display: block;
}
li{
  list-style: none;
}
img{
  vertical-align: top;
}